<section class="user-section">
  <h2>
    <%= "Name: #{@user.name}" %> 
    <% unless @user == current_user %>
      <span class="user-invitation">
        <% if @status.nil? %>
          <%= link_to 'Invite',  friendships_path(@user, caller: 'show'), method: :post, class: 'profile-link' %>
        <% elsif @status == 'Deciding' %>
          <%= link_to 'Accept', friendship_path(id: @user.id, accept: true, caller: 'show' ), method: :patch, class: 'profile-link accept' %>
          <%= link_to 'Reject', friendship_path(id: @user.id, accept: false, caller: 'show' ), method: :patch, class: 'profile-link reject' %>
        <% else %>
          <%= @status %>
        <% end %>
      </span>
    <% end %>
  </h2>
  <article class="timeline">
    <h3>Recent posts:</h3>
    <ul class="posts">
      <%= render @posts %>
    </ul>
  </article>

  <div class="friends-div">
    <h2>Friends</h2>
    <% @friends.each do |f| %>
      <p>
      <%= link_to f.name, user_path(f.id) %>
      </p>
    <% end %>
  </div>
</section>


