<section class="user-section">
  <h2>
    <%= @user.name %> 
    <% unless @user == current_user %>
        <div class="user-invitation">
          <% ft = friendship_state(@user, @outer_status, @inner_status, '') %>
          <% fl = friendship_links(@user, @outer_status, @inner_status, '', 'show') %>
          <% ft.each do |t| %>
            <%= t %>
          <% end %>
          <% fl.each do |l| %>
            <%= l  %>
          <% end %>
        </div>
    <% end %>
  </h2>
  <article class="timeline">
    <h3>Recent posts:</h3>
    <ul class="posts">
      <%= render @posts %>
    </ul>
  </article>
  <hr/>

    <div class="friends-div">
      <h4>Friends : <%= @friends.count %></h4>
      <% @friends.each do |f| %>
        <p>
        <%= link_to f.name, user_path(f.id), class: 'invite' %>
        </p>
      <% end %>
    </div>

  <hr/>

    <div class="friends-div">
      <h4><%= pending_friends_caption(@pending_friends.count, current_user, @user) %></h4>
      <% @pending_friends.each do |f| %>
        <p>
        <%= link_to f.name, user_path(f.id), class: 'invite' %>
        </p>
      <% end %>
    </div>

  <hr/>

    <div class="friends-div">
      <h4><%= friend_requests_caption(@friend_requests.count, current_user, @user) %></h4>
      <% @friend_requests.each do |f| %>
        <p>
        <%= link_to f.name, user_path(f.id), class: 'invite' %>
        </p>
      <% end %>
    </div>

  <hr/>
</section>


